
<h1><%= @description %></h1>

<h1>Count your coins!</h1>

<form action="/output">
  <div class="form-group">
    <label for="amount">Input cents amount:</label>
    <input type="number" name="amount" class="form-control">
  </div>
  <button type="submit" class="btn">Go!</button>

</form>
